/* color-1 #023047 */
/* color-2 #219ebc */

.header-img {
  width: 100%;
  height: 100vh;
}

.logo {
  padding-left: 1rem;
}

.box-menu {
  display: flex;
  justify-content: space-between;
  background-color: #023047;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  gap: 20px;
  padding-right: 1rem;
}

.menu-icon {
  display: none;
  color: #219ebc;
}

.menu li {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu li a {
  color: white;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #219ebc;
}

.menu-btn {
  background-color: #219ebc;
  color: white;
  border: none;
  outline: none;
  padding: 0.3rem;
  transition: all 0.3s;
  border-radius: 1px;
}

.menu-btn:hover {
  background-color: white;
  color: #023047;
}
.open {
  display: block;
}
.close {
  display: none;
}

.feature-box {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 16rem;
}

/* === Header responsive === */

@media (max-width: 767px) {
  .menu-icon {
    margin-left: 50vw !important;
    font-size: 1.75rem !important;
  }

  .menu {
    top: 59.5px !important;
    font-size: 1rem !important;
  }

  .logo {
    width: 80px;
    height: 50px;
  }

  .feature-box {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
    position: absolute !important;
    bottom: -214px !important;
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #023047;
    text-align: right;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .menu li {
    padding: 0.75rem;
  }

  .menu-icon {
    display: block;
    margin-left: 70vw;
    font-size: 2.5rem;
  }

  .feature-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (min-width: 993px) {
  .menu {
    flex-direction: row;
    display: flex;
  }
}
